<div class="table-container">
    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
              <th>Nombre del curso</th>
              <th>Unidades</th>
              <th>Cursos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.id }}</td>
              <td>{{ person.firstName }}</td>
              <td>{{ person.lastName }}</td>
            </tr>
          </tbody>
    </table>
</div>